apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-task-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cicd-task-app
  template:
    metadata:
      labels:
        app: cicd-task-app
    spec:
      containers:
      - name: cicd-task-app
        image: ardsayshi/cicd-task-app:latest
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
